# JAX is not included here. It should be installed separately. (The docker image has it pre-installed.)

black
chex
distrax
dm-haiku
dm-tree
gym==0.25.2
gym-minigrid==1.1.0
flake8
h5py
hydra-core
isort
matplotlib
mypy
notebook
numpy
opencv-python
optax
pre-commit
pydocstyle
pytest
pytest-cov
pytest-env
pytest-xdist
rlax
seaborn
tensorboard
tqdm
wandb
plotly
notebook
pygraphviz
gym_sokoban
